// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
  position: relative;
}
.center {
  text-align: center
  ;
}
.imageCenter {
    display: block;
    margin-left: auto;
    margin-right: auto }
